@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.footer {
  padding: 10rem;

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__links {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    text-align: center;

    @include m.tablet {
      flex-direction: row;
    }

    a {
      color: v.$white;
      font-size: 2.4rem;
    }
  }

  &__rights {
    color: v.$white;
    font-family: v.$main-font;
    font-weight: 500;
    font-size: 2.4rem;
    text-align: center;
  }
}
