@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: v.$roboto;
  font-size: 1.6rem;
  background-color: v.$blue-50;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
