@use "variables" as v;

h1,
h2,
h3 {
  margin: 0 0 v.$gap-5 0;
  font-family: v.$secundary-font;
  line-height: 1.5;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;

  span {
    color: v.$purple-100;
    font-size: 1.8rem;
    display: block;
  }

  &::after {
    content: "";
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    background-image: url("/src/assets/images/viva.avif");
    background-repeat: no-repeat;
    background-size: 10rem;
  }
}

h3 {
  font-size: 3.2rem;
}

p {
  color: v.$black-100;
  font-size: 1.6rem;
  line-height: 2;
}
