// Fonts
$roboto: "Roboto", sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$white: #fff;
$blue-50: #defcf9;
$blue-100: #54d9ed;
$purple-50: #c3bef0;
$purple-100: #c168ee;
$gray-100: #2c2c30;
$black-100: #131415;

// Spaces
$gap-5: 5rem;
